# Project uses python 3.10

# Default Django Install (pip install Django)
asgiref==3.5.2
Django==4.0.6
sqlparse==0.4.2
tzdata==2022.1

# faker (pip install faker)
# [generating fake data]
Faker==13.15.0
python-dateutil==2.8.2
six==1.16.0

# pytest (pip install pytest-django)
# [for unit testing]
atomicwrites==1.4.1
attrs==21.4.0
colorama==0.4.5
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-django==4.5.2
tomli==2.0.1

# factoryboy (pip install pytest-factoryboy)
# [complements for pytest]
factory-boy==3.2.1
inflection==0.5.1
pytest-factoryboy==2.5.0
typing_extensions==4.3.0

# faker_vehicle (pip install faker_vehicle)
# [generate fake data about vehicles]
faker-vehicle==0.2.0

# coverage (pip install coverage)
# [test recommendations to latter make with Pytest]
coverage==6.4.2

# pytest-order (pip install pytest-order)
# [allows ordering test with pytest]
pytest-order==1.0.1

# psycopg2 (pip install psycopg2)
# [manage postgresDB]
psycopg2==2.9.3

# django rest framework (pip install djangorestframework)
pytz==2022.1
djangorestframework==3.13.1

# PyJWT (pip install pyjwt)
[encode and decode Web Tokens]
PyJWT==2.4.0